#python programming
##python programming
###python programming
####python programming
######python programming

1. a
2. b
3. c
 1. d
 2. e
 3. f

[python](https://www.geeksforgeeks.org/)

![image](https://i.udemycdn.com/course/750x422/1817082_cf8a_9.jpg)

* abc
* def

In [1]:
print("hello world")

hello world

In [3]:
a=10
b=20
print(type(a),type(b))

<class 'int'> <class 'int'>

In [4]:
a=10.6
b=20
print(type(a),type(b))

<class 'float'> <class 'int'>

In [6]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b)

enter a value10
enter b value20
30

In [7]:
a=input("enter a value")
b=input("enter b value")
print(a+b)

enter a value10
enter b value20
1020

In [10]:
name=input("enter name")
age=int(input("enter age"))
print("my name is "+name+ " and age is",age)

enter namesan
enter age20
my name is san and age is 20

In [17]:
name=input("enter name")
age=int(input("enter age"))
print("my name is ",name,end="")
print(" age is",age)

enter namesan
enter age20
my name is  san age is 20

In [18]:
name=input("enter name")
age=int(input("enter age"))
print("my name is ",name)
print(" age is",age)

enter namesan
enter age20
my name is  san
 age is 20

In [19]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass