In [6]:
#count no of digits in given string
#input:"python123is456good789"

str=input("enter a string")
i=0
count = 0
while i<len(str):
    if  str[i].isdigit():
         count+= 1
    i += 1
print(count)

enter a stringpython123is456
6

In [26]:
str=input("enter a string")
i=0
count = 0
sum = 0
while i<len(str):
    if  str[i].isdigit():
          count += 1
          sum += int(str[i])
    i += 1
print(count)
print(sum)

enter a stringpyhton123
3
6

In [29]:
#for loop
#1.using range()
#2.using iterable object
n = int(input("enter a number"))
for i in range(1,n+1,2):
  print(i,end=" ")

enter a number5
1 3 5

In [44]:
#input:python
#output:p y t h o n
str=input("enter string")
i=0
while i<len(str):
    print(str[i],end=" ")
    i +=1
print()
for i in range(0,len(str)):
     print(str[i],end=" ")
print()
for i in str:
            print(i,end=" ")

enter stringpython
p y t h o n
p y t h o n
p y t h o n

## collection type data type:
## list
1. for creating a list use[]
2. list are mutable
3. list are indexed
4. list are ordered
5. list allows duplicate values
6. it stores heterogeneous values

In [55]:
list1 = [59,64,34,13,"friends",True,[59,64,6]]
print(list1[-1])
print(list1[0:2])
print(list1[-3][::-1])
print(list1[-1][-1])

[59, 64, 6]
[59, 64]
sdneirf
6

In [56]:
#manipulating a list
#1. adding elements
list1 = [59,64,6]
print("before adding elements:",list1)
list1.append(100)
list1.append(100)
list1.append(100)
print("after adding elements",list1)

before adding elements: [59, 64, 6]
after adding elements [59, 64, 6, 100, 100, 100]

In [57]:
list1.insert(1,64)
list1

[59, 64, 64, 6, 100, 100, 100]

In [61]:
list1.extend([3,4,5])
list1

[59, 64, 64, 6, 100, 100, 100, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5]

In [64]:
#removing elements from the list
#list1.pop(6)
#list1.remove(100)
list1.clear()
print(list1)

[]

In [66]:
#replacing an element
list1 = [59,64,6]
print("before adding elements:",list1)
list1.append(100)
list1.append(100)
list1.append(100)
print("after adding elements",list1)
list1[5]=1000
list1

before adding elements: [59, 64, 6]
after adding elements [59, 64, 6, 100, 100, 100]

[59, 64, 6, 100, 100, 1000]

In [73]:
#sorting a list
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)
list1.reverse()
list1

[6, 59, 64, 100, 100, 1000]
[1000, 100, 100, 64, 59, 6]

[6, 59, 64, 100, 100, 1000]

In [74]:
list1.index(6)

0

In [75]:
list1.count(100)

2

In [78]:
list1.append("python")
list2 = list1
print(list1,"   ",list2)

[6, 59, 64, 100, 100, 1000, 'python']     [6, 59, 64, 100, 100, 1000, 'python']

In [79]:
list3=list1.copy()
list3

[6, 59, 64, 100, 100, 1000, 'python']

In [80]:
print(list1,list2,list3)
list1.append(100)
print(list1,list2,list3)

[6, 59, 64, 100, 100, 1000, 'python'] [6, 59, 64, 100, 100, 1000, 'python'] [6, 59, 64, 100, 100, 1000, 'python']
[6, 59, 64, 100, 100, 1000, 'python', 100] [6, 59, 64, 100, 100, 1000, 'python', 100] [6, 59, 64, 100, 100, 1000, 'python']

In [95]:
#input : [2,4,5,7,8]
#output : [4,16,25,49,64]

l1= [2,4,5,7,8]
l2= []
l3= []
for i in range(0,len(l1)):
  l2.append(l1[i]**2)
print(l2)
for i in l1:
   l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [101]:
l1=[2,4,5,7]
for i in l1:
        if(i%2==0):
            print(i)

2
4

In [1]:
#create list and accept values of list at runtime
#and print sum of all the elements of the list
l1=[]
n=int(input())
for i in range(n):
    l1.append(int(input()))
print(sum(l1))

5
1
9
6
5
66
87

## tuple:

In [2]:
x=6,7,56,66
print(x)
print(type(x))

(6, 7, 56, 66)
<class 'tuple'>

In [4]:
tup1=(5,6,7)
x,y,z=tup1
print(x,y,z)

5 6 7

### dictionary:
### syntax:{key1:value1,key2:value2,......}
### key:
1. key should be unique
2. key should be immutable-->int,float,string,tuple

In [9]:
dict1={"name":"san","course":"cse","address":"hyd"}
dict1["course"]

'cse'

In [10]:
#replace values
dict1["course"]="c programming"
print(dict1)

{'name': 'san', 'course': 'c programming', 'address': 'hyd'}

In [11]:
#adding entry
dict1["college"]="gitam"
print(dict1)

{'name': 'san', 'course': 'c programming', 'address': 'hyd', 'college': 'gitam'}

In [12]:
#removing entry
del dict1["address"]
print(dict1)

{'name': 'san', 'course': 'c programming', 'college': 'gitam'}

## function:
### def name_of_func(arg list):
###    statements
####     return

In [16]:
def add(x,y):
 return x+y
print(add(10,30))
add(100,500)

40

600

In [17]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

27